/* Tipografia titulos y textos unificadas */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Euphoria+Script&family=Playfair+Display:wght@400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #7c0a02;
}

.section-links {
  grid-area: 3/2/3/8;
}

.links {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-between;
  margin: 20px;
}

.link__box--deactivated {
  background-color: gray;
  color: white;
  border: 1px solid white;
}

.link__box--deactivated:hover {
  color: #000000;
}

.links li {
  list-style: none;
}

.button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(158, 123, 41, 0.5);
}

.title {
  text-align: center;
  font-weight: 900;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  font-size: clamp(0.3125rem, 0.3125rem + 1.75vw, 2.5rem);
}

.subtitle {
  font-family: "Playfair Display", serif;
  text-decoration: underline;
  font-size: clamp(0.3125rem, 0.3125rem + 1.25vw, 1.875rem);
}

#logo {
  border-radius: 35%;
}

.text {
  font-family: "Cinzel", serif;
  font-size: clamp(0.5rem, 0.5rem + 0.7vw, 2.25rem);
}

main {
  background-image: url(../assets/Fondo-principal.webp);
  color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main section {
  background-color: rgba(37, 37, 37, 0.2);
  padding: 30px;
}

.text-list {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.list {
  list-style-type: none;
}

.links a {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
  font-size: clamp(0rem, 0rem + 1.75vw, 2.1875rem);
}

/* Estilos characters */
.char img {
  width: 100%;
  height: 15em;
  max-height: 250px;
  max-width: 250px;
  border-radius: 25%;
  filter: sepia();
  object-fit: cover;
}

.container-char {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  width: 100%;
  max-width: 1000px;
  margin: 60px auto;
}

/* Estilos awards */
.awards-text {
  font-size: clamp(0.625rem, 0.625rem + 1.25vw, 2.1875rem);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #cf9d40;
}

/*  Estilos smartphones */
@media (max-width: 768px) {
  body {
    display: grid;
    grid-template-rows: auto 99% auto;
    grid-template-areas: "header" "main" "footer";
  }
  header {
    background-color: #000000;
    color: #7c0a02;
    grid-area: header;
  }
  .header-content {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(8, 0.5fr);
  }
  .header-content .title {
    grid-area: 1/3/1/7;
  }
  .header-content .subtitle {
    grid-area: 2/2/2/6;
  }
  header div .subtitle {
    justify-self: baseline;
    align-self: center;
  }
  header #logo {
    width: 20px;
    height: fit-content;
    grid-area: 2/7/2/8;
    align-self: center;
    justify-self: end;
  }
  main {
    grid-area: main;
  }
  .main {
    display: grid;
    grid-template: repeat(16, auto)/repeat(8, 1fr);
  }
  .res_princ {
    grid-area: 1/2/2/8;
  }
  .hist_trama {
    grid-area: 2/2/8/8;
  }
  .consolas {
    grid-area: 8/2/9/8;
  }
  .consolas-lista {
    display: flex;
    flex-direction: row;
  }
  .list {
    display: flex;
    flex-flow: row wrap;
    min-width: 1%;
    justify-content: space-around;
    border: solid 2px rgba(255, 255, 255, 0.1);
  }
  .text-list {
    font-size: clamp(0rem, 0rem + 1.3021vw, 0.625rem);
  }
  .consolas-lista li :hover {
    text-decoration: solid, underline;
    color: #291fba;
  }
  .list > img {
    width: auto;
    height: 20px;
    border-radius: 10px;
  }
  .trailer-port {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    grid-area: 9/2/15/8;
    justify-content: center;
    align-items: center;
  }
  .trailer-port > video {
    width: 75%;
    height: 35dvh;
  }
  .trailer-port > img {
    width: 75%;
    height: 35dvh;
  }
  /* Aplicamos la metodologia BEM a esta seccion */
  .link__box {
    background-color: #cf9d40;
    border-radius: 10%;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(222, 164, 29, 0.75);
    -moz-box-shadow: 5px 5px 0px 0px rgba(222, 164, 29, 0.75);
    box-shadow: 5px 5px 0px 0px rgba(158, 123, 41, 0.75);
  }
  .link__box:hover {
    background-color: #cb3416;
    border-radius: 10%;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(18, 17, 17, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(20, 20, 20, 0.75);
    box-shadow: 10px 10px 0px 0px rgba(19, 19, 19, 0.75);
  }
  .link__box--awards {
    background-color: #e6b216;
    border-radius: 10%;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(222, 164, 29, 0.75);
    -moz-box-shadow: 5px 5px 0px 0px rgba(222, 164, 29, 0.75);
    box-shadow: 5px 5px 0px 0px rgba(8, 8, 6, 0.75);
  }
  .link__box--awards:hover {
    background-color: rgba(85, 148, 64, 0.431372549);
    border-radius: 10%;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(18, 17, 17, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(20, 20, 20, 0.75);
    box-shadow: 10px 10px 0px 0px rgba(19, 19, 19, 0.75);
  }
  .links a {
    font-size: clamp(0rem, 0rem + 1.9531vw, 0.9375rem);
  }
  .button-top {
    grid-area: 15/8/16/9;
    align-self: center;
    justify-self: center;
  }
  footer {
    grid-area: footer;
  }
  /* Estilos pagina Personajes */
  .char-section {
    display: grid;
    grid-area: 1/1/10/9;
  }
  .char {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px auto;
    width: 100%;
    justify-items: center;
    align-items: center;
  }
  .char .text {
    position: absolute;
    opacity: 0;
  }
  .char .text,
  .char img {
    transition: transform 1s ease-in;
    width: 50%;
    max-width: 200px;
    text-align: center;
    z-index: 1;
  }
  .char .text em {
    text-decoration: underline;
    font-weight: bold;
    color: wheat;
  }
  .char:nth-child(odd):hover img {
    transform: translate(50%);
    filter: none;
    transition: all 1s;
  }
  .char:nth-child(odd):hover .text {
    transform: translateX(-50%);
    opacity: 1;
    transition: all 1s;
  }
  .char:nth-child(even):hover img {
    transform: translateX(-50%);
    filter: none;
    transition: all 1s;
  }
  .char:nth-child(even):hover .text {
    transform: translateX(50%);
    opacity: 1;
    transition: all 1s;
  }
  /* Estilos pagina Gameplay */
  .res-game {
    grid-area: 1/2/10/8;
    background-color: rgba(37, 37, 37, 0.2);
    filter: sepia();
  }
  .map {
    grid-area: 10/2/15/8;
    background-color: rgba(37, 37, 37, 0.2);
    filter: sepia();
  }
  /* Estilos pagina Awards */
  .awards {
    grid-area: 1/2/15/8;
  }
  .awards-text {
    margin: 20px;
  }
  /* Estilos pagina Contacto */
  /* Utilizamos bootstrap y es responsive en todos los anchos de pantalla */
}
/* Estilos tablets/Notebooks*/
@media (max-width: 992px) and (min-width: 769px) {
  body {
    display: grid;
    grid-template-rows: auto 99% auto;
    grid-template-areas: "header" "main" "footer";
  }
  header {
    background-color: #000000;
    color: #7c0a02;
    grid-area: header;
  }
  .header-content {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(8, 0.5fr);
  }
  .header-content .title {
    grid-area: 1/3/1/7;
  }
  .header-content .subtitle {
    grid-area: 2/2/2/6;
  }
  header div .subtitle {
    justify-self: baseline;
    align-self: center;
  }
  header #logo {
    width: 20px;
    height: fit-content;
    grid-area: 2/7/2/8;
    align-self: center;
    justify-self: end;
  }
  main {
    grid-area: main;
  }
  .main {
    display: grid;
    grid-template: repeat(16, auto)/repeat(8, 1fr);
  }
  .res_princ {
    grid-area: 1/2/2/8;
  }
  .hist_trama {
    grid-area: 2/2/8/8;
  }
  .consolas {
    grid-area: 8/2/9/8;
  }
  .consolas-lista {
    display: flex;
    flex-direction: row;
  }
  .list {
    display: flex;
    flex-flow: row wrap;
    min-width: 1%;
    justify-content: space-around;
    border: solid 2px rgba(255, 255, 255, 0.1);
  }
  .text-list {
    font-size: clamp(0.625rem, -1.5179rem + 4.4643vw, 1.25rem);
  }
  .consolas-lista li :hover {
    text-decoration: solid, underline;
    color: #291fba;
  }
  .list > img {
    width: auto;
    height: 20px;
    border-radius: 10px;
  }
  .trailer-port {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    grid-area: 9/2/15/8;
    justify-content: center;
    align-items: center;
  }
  .trailer-port > video {
    width: 75%;
    height: 55dvh;
  }
  .trailer-port > img {
    width: 60%;
    height: 50vh;
  }
  /* Aplicamos la metodologia BEM a esta seccion */
  .link__box {
    background-color: #cf9d40;
    border-radius: 10%;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(222, 164, 29, 0.75);
    -moz-box-shadow: 5px 5px 0px 0px rgba(222, 164, 29, 0.75);
    box-shadow: 5px 5px 0px 0px rgba(158, 123, 41, 0.75);
  }
  .links a {
    font-size: clamp(0.9375rem, -1.0022rem + 4.0359vw, 1.5rem);
  }
  .link__box:hover {
    background-color: #cb3416;
    border-radius: 10%;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(18, 17, 17, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(20, 20, 20, 0.75);
    box-shadow: 10px 10px 0px 0px rgba(19, 19, 19, 0.75);
  }
  .link__box--awards {
    background-color: #e6b216;
    border-radius: 10%;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(222, 164, 29, 0.75);
    -moz-box-shadow: 5px 5px 0px 0px rgba(222, 164, 29, 0.75);
    box-shadow: 5px 5px 0px 0px rgba(8, 8, 6, 0.75);
  }
  .link__box--awards:hover {
    background-color: rgba(85, 148, 64, 0.431372549);
    border-radius: 10%;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(18, 17, 17, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(20, 20, 20, 0.75);
    box-shadow: 10px 10px 0px 0px rgba(19, 19, 19, 0.75);
  }
  .button-top {
    grid-area: 15/8/16/9;
    align-self: center;
    justify-self: center;
  }
  footer {
    grid-area: footer;
  }
  /* Estilos pagina Personajes */
  .char-section {
    display: grid;
    grid-area: 1/2/10/8;
  }
  .char {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px auto;
    width: 100%;
    justify-items: center;
    align-items: center;
  }
  .char .text {
    position: absolute;
    opacity: 0;
  }
  .char .text,
  .char img {
    transition: transform 1s ease-in;
    width: 50%;
    max-width: 200px;
    text-align: center;
    z-index: 1;
  }
  .char .text em {
    text-decoration: underline;
    font-weight: bold;
    color: wheat;
  }
  .char:nth-child(odd):hover img {
    transform: translate(50%);
    filter: none;
    transition: all 1s;
  }
  .char:nth-child(odd):hover .text {
    transform: translateX(-50%);
    opacity: 1;
    transition: all 1s;
  }
  .char:nth-child(even):hover img {
    transform: translateX(-50%);
    filter: none;
    transition: all 1s;
  }
  .char:nth-child(even):hover .text {
    transform: translateX(50%);
    opacity: 1;
    transition: all 1s;
  }
  /* Estilos pagina Gameplay */
  .res-game {
    grid-area: 1/2/10/8;
    background-color: rgba(37, 37, 37, 0.2);
    filter: sepia();
  }
  .map {
    grid-area: 10/2/15/8;
    background-color: rgba(37, 37, 37, 0.2);
    filter: sepia();
  }
  /* Estilos pagina Awards */
  .awards {
    grid-area: 1/2/15/8;
  }
  .awards-text {
    margin: 20px;
  }
}
/* Estilos PC escritorio */
@media (min-width: 993px) {
  body {
    display: grid;
    grid-template-rows: auto 99% auto;
    grid-template-areas: "header" "main" "footer";
  }
  header {
    background-color: #000000;
    color: #7c0a02;
    grid-area: header;
  }
  .header-content {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(8, 0.5fr);
  }
  .header-content .title {
    grid-area: 1/3/1/7;
  }
  .header-content .subtitle {
    grid-area: 2/2/2/6;
  }
  header div .subtitle {
    justify-self: baseline;
    align-self: center;
  }
  header #logo {
    width: 20px;
    height: fit-content;
    grid-area: 2/7/2/8;
    align-self: center;
    justify-self: end;
  }
  main {
    grid-area: main;
  }
  .main {
    display: grid;
    grid-template: repeat(10, auto)/repeat(16, 1fr);
  }
  .text {
    font-size: clamp(0.9375rem, -0.2951rem + 1.9861vw, 2.1875rem);
  }
  .res_princ {
    grid-area: 1/2/2/8;
  }
  .hist_trama {
    grid-area: 2/2/6/16;
  }
  .consolas {
    grid-area: 1/8/4/16;
    border: 1px solid #e6b216;
    background: linear-gradient(135deg, rgba(37, 37, 37, 0.2), #e6b216, #7c0a02);
  }
  .consolas-lista {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .list {
    display: flex;
    flex-flow: row wrap;
    min-width: 1%;
    justify-content: space-around;
    border: solid 2px rgba(255, 255, 255, 0.1);
  }
  .text-list {
    font-size: clamp(0.625rem, -1.5179rem + 4.4643vw, 1.25rem);
  }
  .consolas-lista li :hover {
    text-decoration: solid, underline;
    color: #291fba;
  }
  .list > img {
    width: auto;
    height: 20px;
    border-radius: 10px;
  }
  .trailer-port {
    display: grid;
    grid-template: repeat(2, auto)/repeat(2, 0.5fr);
    grid-area: 9/2/10/16;
    align-items: center;
  }
  .trailer-port h2 .title {
    grid-area: 1/1/1/2;
    width: 100%;
  }
  .trailer-port > video {
    grid-area: 2/1/3/2;
    width: 75%;
    height: 50vh;
    margin: auto;
  }
  .trailer-port > img {
    grid-area: 2/2/2/2;
    width: 50%;
    height: 50vh;
    margin: auto;
  }
  /* Aplicamos la metodologia BEM a esta seccion */
  .link__box {
    background-color: #cf9d40;
    border-radius: 10%;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(222, 164, 29, 0.75);
    -moz-box-shadow: 5px 5px 0px 0px rgba(222, 164, 29, 0.75);
    box-shadow: 5px 5px 0px 0px rgba(158, 123, 41, 0.75);
  }
  .links a {
    font-size: clamp(1.5rem, 0.7619rem + 1.1905vw, 2.25rem);
  }
  .link__box:hover {
    background-color: #cb3416;
    border-radius: 10%;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(18, 17, 17, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(20, 20, 20, 0.75);
    box-shadow: 10px 10px 0px 0px rgba(19, 19, 19, 0.75);
  }
  .link__box--awards {
    background-color: #e6b216;
    border-radius: 10%;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(222, 164, 29, 0.75);
    -moz-box-shadow: 5px 5px 0px 0px rgba(222, 164, 29, 0.75);
    box-shadow: 5px 5px 0px 0px rgba(8, 8, 6, 0.75);
  }
  .link__box--awards:hover {
    background-color: rgba(85, 148, 64, 0.431372549);
    border-radius: 10%;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(18, 17, 17, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(20, 20, 20, 0.75);
    box-shadow: 10px 10px 0px 0px rgba(19, 19, 19, 0.75);
  }
  .button-top {
    grid-area: 10/16/10/16;
    align-self: center;
    justify-self: center;
  }
  footer {
    grid-area: footer;
  }
  /* Estilos pagina Personajes */
  .char-section {
    display: grid;
    grid-area: 1/2/10/16;
  }
  .char {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px auto;
    width: 100%;
    justify-items: center;
    align-items: center;
  }
  .char .text {
    position: absolute;
    opacity: 0;
    width: 50%;
    max-width: 400px;
    height: 400px;
    z-index: 1;
  }
  .char img {
    height: 400px;
    width: 400px;
    max-width: 600px;
    max-height: 600px;
    z-index: 1;
  }
  .char .text em {
    text-decoration: underline;
    font-weight: bold;
    color: wheat;
  }
  .char:nth-child(odd):hover img {
    transform: translate(50%);
    filter: none;
    transition: all 2s;
  }
  .char:nth-child(odd):hover .text {
    transform: translateX(-60%);
    opacity: 1;
    font-size: 2rem;
    transition: all 2s;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .char:nth-child(even):hover img {
    transform: translateX(-50%);
    filter: none;
    transition: all 2s;
  }
  .char:nth-child(even):hover .text {
    transform: translateX(60%);
    opacity: 1;
    font-size: 2rem;
    transition: all 2s;
    background-color: rgba(0, 0, 0, 0.1);
  }
  /* Estilos pagina Gameplay */
  .res-game {
    grid-area: 1/2/8/9;
    background-color: rgba(37, 37, 37, 0.2);
    filter: sepia();
  }
  .map {
    grid-area: 1/9/8/16;
    background-color: rgba(37, 37, 37, 0.2);
    filter: sepia();
    width: fit-content;
    max-width: 600px;
    height: auto;
    max-height: 600px;
    align-self: center;
    justify-self: center;
  }
  /* Estilos pagina Awards */
  .awards {
    grid-area: 1/2/9/16;
  }
  .awards-text {
    margin: 20px;
  }
  /* Ajustamos un centrado al formulario de la pagina contacto, ya que en pc de escritorios, se ve muy a la izquierda */
  .container {
    align-self: center;
    justify-self: center;
    grid-area: 1/1/9/16;
  }
}

/*# sourceMappingURL=style.css.map */
